body {
    background: #fafafa !important;
}

.account-summary{
    text-align: left;
}

.follower-suggestion{
    border: solid #ddd 1px;
    background: #ffff;
    padding: 15px;
    border-radius: 3px;
}

.image-circle{
    border-radius: 50%;
    margin-right: 15px;
}

.profile-stats{
    width: 400px;
    margin-bottom: 30px;
}

.profile-posts{
    margin-top: 50px !important;
}

.image-circles{
    border-radius: 50%;
}
