.insta-post{
    margin-bottom: 15px;
}
.post-meta{
    background: #ffff;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    border: solid #ddd 1px;
}

.account-summary{
    text-align: left;
}

.follower-suggestion{
    border: solid #ddd 1px;
    background: #ffff;
    padding: 10px;
}