.insta-post{
    margin-bottom: 15px;
}
.post-meta{
    background: #ffff;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    border: solid #ddd 1px;

    img{
        margin-right: 10px;
    }
}

.post-details{
    padding: 15px;
    background: #ffff;
    border: solid #ddd 1px;
}

.post-actions{
    margin-bottom: 20px;

    i {
        margin-right: 10px;
        color: rgb(199, 197, 197);
        cursor: pointer;
    }

    i:hover{
        color: #999;
    }

    i.active{
        color: red
    }
}

.comment-box-container{
    margin-bottom: 20px !important;
    background: #ffff;
    border: solid #ddd 1px;
    padding: 15px;
}
.posts-show{
    .scroll-details{
        height: 250px;
        overflow-y: scroll;
    }
    .post-actions{
        padding-top: 30px;
        border-top: 1px solid #ddd;
        margin-top: 20px;
    }
}
