<h1>Welcome to the Website</h1>
<p class="lead">Please sign in or register to continue</p>
<%= link_to "Sign Up", new_account_registration_path, class: "btn btn-primary" %>
<%= link_to "Sign In", new_account_session_path, class: "btn btn-secondary" %>
<%= link_to "Sign Out", destroy_account_session_path, data:{ "turbo-method": :delete}, class:"btn btn-secondary" %>