<div class="container">
    <div class="row">
        <div class="col-8">
            <% @posts.each do |post| %>
                <div class="insta-post">
                    <% if post.image.url %>
                        <div class="post-meta" >
                            <%= "@" + post.account.username %>
                        </div>
                        <%= image_tag post.image.url, class: "img-fluid" %>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="col-4">
            <div class="account-summary">
                <p><strong><%= current_account.username %></strong><br>
                <%= current_account.fullname %> 
            </div>
            <div class="follower-suggestion">
            </div>
        </div>
    </div>
</div>


